# Build directories
build*/
cmake-build-*/
out/

# Qt Creator
*.pro.user
CMakeLists.txt.user*
.qtc_clangd/
.clangd/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Binaries
*.exe
*.out
*.app
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
